<%- include("./partials/header") -%> 
    <title>Yelp</title>
    <%- include("./partials/nav") -%> 
  <div class="main">
    <div class="container">
        <div class="frontpage">
            <h1>welcome to yelpcamp</h1>
            <div class="links">
                <a href="/campGrounds" class="btn btn-success btn-lg"><b>view camps</b></a>
                <a href="/campGrounds/new" class="btn btn-primary btn-lg">Add new site!</a>
            </div>
           
        </div>
    </div>
  </div>  
   
<%- include("./partials/footer") -%> 